langchain-groq
openai
langchain
python-dotenv
requests
langgraph
transformers
tiktoken
pydantic
torch
sentencepiece
protobuf
torchvision
torchaudio
langchain-classic
langchain-community
ddgs
wikipedia
langchain-openai
langchain-chroma
langchain-huggingface 
sentence-transformers
pypdf